@media screen and (min-width:1856px) {
    header,
    footer{
        padding: 0 375px;
    }
    section{
        padding: 150px 375px;
    }
}
@media screen and (max-width:1378px) {
    .payments, .contacts{
        gap: 20px;
    }
}
@media screen and (max-width:1240px) {
    section{
        &.order{
            .order__steps{
                &--icon {
                    width: 80px;
                    height: 80px;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                    figcaption{
                        font-size: 14px;
                        width: 160px;
                        margin-left: -40px;
                    }
                }
                
            }
        }
    }
}
@media screen and (max-width:1024px) {
    header{
        height: 80px;
    }
    section{
        padding: 110px 10vw;
        &.main{
            padding-top:160px;
        }
        &.order{
            .order__steps{
                &--icon {
                    width: 50px;
                    height: 50px;
                    img{
                        width: 50px;
                        height: 50px;
                    }
                    figcaption{
                        font-size: 13px;
                        width: 100px;
                        margin-left: -25px;
                    }
                }
                &--dot{
                    width: 3px;
                    height: 3px;
                }
            }
        }
    }
    footer{
        height: auto;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 30px;
        .payments{
            &::before,
            &::after{
                display: none;
            } 
        }
    }
}
@media screen and (max-width:900px){
    body{
        font-size: 18px;
        h1{
            font-size: 38px;
        }
        h2{
            font-size: 32px;
        }
    }
    @import '_humburger.scss';
    section{
        &.order{
            .order__steps{
                flex-direction: column;
                gap: 16px;
                padding: 46px 50px 0;
                &--icon {
                    width: 100px;
                    height: 100px;
                    img{
                        width: 100px;
                        height: 100px;
                    }
                    figcaption{
                        font-size: 16px;
                        width: 200px;
                        margin-left: -50px;
                    }
                }
                &--dot{
                    width: 3px;
                    height: 3px;
                    &.transp{
                        background: transparent;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:700px){
    body{
        font-size: 16px;
        h1{
            margin-bottom: 20px;
        }
        h1, h2{
            font-size: 30px;
            width: 100%;
        }
        p{
            margin: 20px 0 5px;
            line-height: 20px;
        }
    }
    section{
        padding: 70px 10vw;
        &.main{
            padding-top: 120px;
            ul{
                margin: 10px 0 30px;
                li{
                    line-height: 20px;
                }
            }
        }
    }
    form{
        flex-direction: column;
        gap: 40px;
        div{
            width: 100%;
            height: 48px;
            &.order-form{
                &__input--range{
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (max-width:500px){
    body{
        font-size: 16px;
        h1{
            margin-top: 30px;
        }
        h1, h2{
            font-size: 28px;
            width: 100%;
        }
    }
    header{
        height: 50px;
        .navigation__logo img{
            width: 120px;
        }
    }
    section{
        padding: 50px 10vw;
        &.main{
            max-height: 680px;
            padding-top: 70px;
        }
    }
    input,
    select,
    label{
        font-size: 16px;
    }
    form div.order-form__input--range{
        margin-bottom: 0;
        div {
            height: 24px;
            span{
                font-size: 10px;
            }
        }
    }
    label[for="file"]{
        font-size: 13px;
    }
    footer .contacts{
        flex-wrap: wrap;
    }
    footer .payments{
        gap: 20px;
        div{
            gap:4px;
        }
    }
}