@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 80px;
}
form div {
  position: relative;
  width: calc((100% - 60px) / 3);
  min-width: 230px;
}
form div.order-form__input--range {
  width: calc(66.6666666667% - 10px);
}
form div.order-form__input--range div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
form div.order-form__input--range div span {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 6px;
}
form div.order-form__input--range div span#range-value {
  font-weight: 600;
}
form div.order-form__select--s-type span {
  height: 48px;
  position: absolute;
  z-index: 1;
  background-color: #393b4b;
  color: #FFFFFF;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form div.order-form__btn--submit {
  margin: 25px auto 0;
}
form div.order-form__btn--submit button {
  width: 100%;
  max-width: 100%;
  height: 48px;
}
form div.order-form__btn--submit:focus {
  outline: 0;
  border-color: #3E9CDC;
}

input,
select {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: rgb(223, 223, 224);
  outline: 0;
  border: none;
  color: #272733;
  padding: 12px 10px;
  width: 100%;
  border-radius: 3px;
  height: 48px;
}
input:focus, input:valid,
select:focus,
select:valid {
  background-color: #393b4b;
  color: #FFFFFF;
}
input:focus + label:not([for=file]), input:valid + label:not([for=file]),
select:focus + label:not([for=file]),
select:valid + label:not([for=file]) {
  color: #3E9CDC;
  transform: translateY(-32px);
  font-size: 12px;
  left: 0;
  text-transform: uppercase;
}
input#range,
select#range {
  -webkit-appearance: none;
  height: 6px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6980392157);
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  padding: 0;
}
input#range:hover,
select#range:hover {
  opacity: 1;
}
input#range::-webkit-slider-thumb,
select#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 25px;
  border: 0;
  background: url("../images/icons/circle-icon.svg") no-repeat;
  background-size: cover;
  cursor: pointer;
}
input#range::-moz-range-thumb,
select#range::-moz-range-thumb {
  width: 24px;
  height: 25px;
  border: 0;
  background: url("../images/icons/circle-icon.svg") no-repeat;
  background-size: cover;
  cursor: pointer;
}
input#file,
select#file {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  cursor: pointer;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #FFFFFF !important;
}
input:focus,
select:focus {
  border: 1px solid #3D4050 !important;
}
input:focus + label[for=file],
select:focus + label[for=file] {
  border-color: #3E9CDC;
}
input:valid,
select:valid {
  border-bottom: 1px solid #FFFFFF;
}
input:invalid:not(#s-type),
select:invalid:not(#s-type) {
  color: transparent;
}
input:invalid:not(#s-type):focus,
select:invalid:not(#s-type):focus {
  color: #FFFFFF;
}

label {
  position: absolute;
  left: 10px;
  color: #FFFFFF;
  padding: 12px 10px;
  overflow: hidden;
  transition: 0.5s;
  color: #272733;
  font-size: 18px;
}
label[for=s-type] {
  visibility: hidden;
  opacity: 0;
}
label[for=file] {
  display: flex;
  position: relative;
  height: 48px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid #3E9CDC;
  border-radius: 3px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  color: #272733;
  text-transform: uppercase;
  margin-left: -10px;
  margin-right: 10px;
}
label[for=file] span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
label[for=file] span svg {
  margin-right: 10px;
  fill: inherit;
  transition: 0.5s;
}
label[for=file]:hover {
  color: #3E9CDC;
  border-color: #3E9CDC;
}
label[for=file]:hover span svg {
  fill: #3E9CDC;
}
label[for=file].file-ok {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  background-image: url("../images/icons/file-icon.svg");
  background-size: 50%;
  background-repeat: no-repeat;
}
label[for=file].file-ok span {
  display: none;
}
label[for=file] + span.label-text {
  color: #3D4050;
  font-size: 15px;
  line-height: 34px;
}

select {
  position: relative;
  z-index: 1;
  color: #272733;
  width: 100% !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(223, 223, 224);
  background-image: url("../images/icons/arrow-icon-black.svg");
  background-repeat: no-repeat;
  background-position: 95% 54%;
}
select:valid {
  background-image: url("../images/icons/arrow-icon-white.svg");
}
select:valid ~ label {
  visibility: visible;
  opacity: 1;
  padding-left: 0;
}
select:focus {
  height: 158px;
  background: #272733;
  position: absolute;
  z-index: 1;
  border: 1px solid #3D4050;
  padding: 0;
  margin-top: 48px;
  transition: 0.5s;
}
select:focus option:first-child {
  display: none;
}
select:focus option:nth-child(2) {
  padding-top: 10px;
}
select::-webkit-scrollbar {
  width: 14px;
}
select::-webkit-scrollbar-thumb {
  background-color: #3E9CDC;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
}
select::-webkit-scrollbar-track {
  width: 6px;
  background-color: #3D4050;
  border-radius: 9999px;
  border: 4px solid #272733;
}
select option {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  height: 34px;
  color: #FFFFFF;
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
}
select option:checked {
  background: #3D4050 linear-gradient(0deg, #3D4050 0%, #3D4050 0%);
  border-radius: 3px;
}
select option:hover {
  color: #3E9CDC;
  cursor: pointer;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
body h1, body h2 {
  text-transform: uppercase;
}
body h1 {
  font-size: 48px;
  font-weight: 700;
  color: #2A2B30;
  margin-bottom: 40px;
}
body h2 {
  font-size: 36px;
  font-weight: 800;
  color: #FFFFFF;
  text-align: center;
}
body p {
  line-height: 24px;
  margin: 40px 0 10px;
}
body b {
  font-weight: 700;
}
body .blue-text {
  color: #3E9CDC;
}

header,
footer {
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  background-color: rgba(16, 16, 29, 0.9);
  height: 100px;
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.5s;
  z-index: 2;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 60px;
}
header nav ul a {
  color: #FFFFFF;
}
header nav ul a:hover {
  color: #43ABF0;
}

section {
  padding: 150px 10vw;
  width: 100%;
}
section.main {
  background-image: url("../images/header-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 220px;
}
section.main ul {
  margin: 5px 0 80px;
}
section.main ul li {
  list-style: none;
  line-height: 24px;
  margin-bottom: 5px;
  padding-left: 30px;
  text-indent: -18px;
}
section.main ul li::before {
  content: "-";
  padding-right: 11px;
}
section.main .cta {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
section.order {
  background-color: #272733;
  background-image: url("../images/order-bg-cover-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
section.order p {
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}
section.order .order__steps {
  padding: 80px 50px 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
section.order .order__steps--icon {
  width: 100px;
  height: 100px;
  transition: all 0.5s;
}
section.order .order__steps--icon:hover {
  transform: scale(1.16);
}
section.order .order__steps--icon figcaption {
  color: #FFFFFF;
  font-size: 16px;
  width: 200px;
  margin-left: -50px;
  text-align: center;
}
section.order .order__steps--dot {
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  border-radius: 100%;
}

.btn {
  padding: 13px 54px;
  max-width: 183px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
  outline: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.btn--primary {
  color: #FFFFFF;
  background-color: #3E9CDC;
  border: 1px solid #FFFFFF;
}
.btn--secondary {
  color: #2A2B30;
  background-color: #FFFFFF;
  border: 1px solid #6F6D7B;
}
.btn:hover {
  background-color: #3D4050;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #3D4050;
  transition: all 0.5s;
}

footer {
  height: 80px;
  background-color: #3D4050;
  font-size: 13px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer .payments, footer .contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer .payments__qiwi, footer .payments__yandex, footer .payments__webm {
  display: flex;
  gap: 12px;
}
footer .payments__qiwi::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='21' height='20' viewBox='0 0 21 20' fill='none'><path d='M16.9118 13.4559C16.9719 13.8435 16.845 14.0076 16.7167 14.0076C16.5885 14.0076 16.4028 13.85 16.1957 13.5373C15.9887 13.2245 15.9179 12.8769 16.0181 12.6986C16.0558 12.6368 16.1167 12.5915 16.1881 12.572C16.2595 12.5525 16.3359 12.5604 16.4015 12.5939C16.7421 12.718 16.8757 13.2233 16.9118 13.4559ZM15.0241 14.3061C15.4343 14.6408 15.5585 15.0389 15.3421 15.3193C15.2762 15.3977 15.1922 15.46 15.0968 15.5013C15.0014 15.5426 14.8974 15.5617 14.793 15.557C14.5642 15.5574 14.3425 15.4801 14.1665 15.3386C13.7951 15.0246 13.6856 14.5142 13.9287 14.2247C13.9824 14.1653 14.0494 14.1186 14.1247 14.0881C14.2 14.0577 14.2814 14.0443 14.3629 14.049C14.6077 14.0569 14.8418 14.1479 15.0241 14.3061ZM14.3402 17.5367C16.1022 17.5367 18.0139 18.1208 20.1313 19.9351C20.3424 20.1161 20.6243 19.8912 20.4399 19.6651C18.3599 17.1258 16.4322 16.6412 14.5178 16.2329C12.172 15.7315 10.9643 14.4535 10.1187 13.0514C9.95167 12.7723 9.87552 12.8214 9.86083 13.1806C9.84679 13.7131 9.88841 14.2456 9.98507 14.7701C9.89022 14.7701 9.79403 14.7701 9.69918 14.7701C8.49698 14.7701 7.32179 14.4252 6.3222 13.7792C5.3226 13.1331 4.54352 12.2148 4.08346 11.1404C3.6234 10.0661 3.50302 8.88385 3.73756 7.7433C3.9721 6.60275 4.55101 5.55509 5.40109 4.7328C6.25117 3.91051 7.33424 3.35053 8.51334 3.12366C9.69244 2.89679 10.9146 3.01322 12.0253 3.45824C13.136 3.90326 14.0853 4.65688 14.7532 5.62379C15.4211 6.5907 15.7776 7.72748 15.7776 8.89037C15.7782 9.11877 15.7653 9.347 15.7389 9.57397C15.0985 9.49597 14.4514 9.48427 13.8085 9.53908C13.5773 9.55846 13.6107 9.6683 13.7844 9.69285C15.7883 10.043 17.175 11.2435 17.4902 13.4339C17.4914 13.445 17.4961 13.4555 17.5037 13.4638C17.5114 13.4721 17.5215 13.478 17.5328 13.4804C17.544 13.4828 17.5558 13.4818 17.5664 13.4774C17.577 13.473 17.5859 13.4654 17.5918 13.4559C18.6342 11.7703 19.0706 9.79838 18.8329 7.84774C18.5952 5.89709 17.6968 4.07738 16.2778 2.67245C14.8588 1.26752 12.999 0.356356 10.9885 0.0810911C8.97799 -0.194174 6.92984 0.181935 5.1635 1.15075C3.39717 2.11957 2.01197 3.62662 1.22396 5.43683C0.435958 7.24704 0.289461 9.25863 0.807322 11.1578C1.32518 13.057 2.47828 14.737 4.08676 15.9358C5.69524 17.1346 7.66865 17.7848 9.69918 17.7849C11.0418 17.7887 12.379 17.5355 14.3402 17.5355V17.5367Z' fill='%233E9CDC'/></svg>");
}
footer .payments__yandex::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.779835 8.9307C0.779835 7.94664 0.863032 7.32213 2.91811 5.80087C4.61949 4.54138 10.073 0.237427 10.073 0.237427V7.42209H14.2203V17.7627H2.07518C1.36275 17.7627 0.779633 17.1844 0.779633 16.4778L0.779835 8.93076V8.9307Z' fill='%233E9CDC'/><path fill-rule='evenodd' clip-rule='evenodd' d='M10.073 7.422V11.585L2.45212 16.7335L12.0874 13.6246V7.422H10.073Z' fill='black' fill-opacity='0.2'/><path fill-rule='evenodd' clip-rule='evenodd' d='M6.5904 7.20685C7.03609 6.68023 7.68696 6.49436 8.04435 6.79173C8.40174 7.08915 8.3303 7.75719 7.8846 8.2838C7.43925 8.81035 6.78811 8.99602 6.43072 8.69859C6.07333 8.40123 6.14497 7.73333 6.5904 7.20678V7.20685Z' fill='%23231F20'/></svg>");
}
footer .payments__webm::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_4_184)'><path d='M9.34077 0C10.751 0 12.0928 0.323103 13.2969 0.901077C13.4857 0.986269 13.6758 1.08823 13.864 1.19028L13.0384 1.92159L11.8007 0.646297L9.66802 2.51651L8.41214 1.17307L4.49048 4.65889L7.00126 7.39646L6.02108 8.24641L8.49822 10.984L7.51795 11.8336L11.0613 15.7274L13.1585 13.823L14.9826 15.8639C14.6211 16.136 14.2255 16.4086 13.796 16.6462C12.4886 17.3773 10.9747 17.8016 9.35814 17.8016C4.38691 17.8016 0.345546 13.8066 0.345546 8.89314C0.327991 4.01286 4.37007 0 9.34077 0ZM7.68931 8.34864L9.83937 6.44418L11.7662 8.56952L9.61567 10.4738L7.68931 8.34864ZM9.22053 12.0214L11.3531 10.1001L13.2969 12.2253L11.1467 14.1298L9.22053 12.0214ZM6.15942 4.72713L8.30886 2.82267L10.2352 4.948L8.08507 6.85238L6.15942 4.72713ZM10.0974 3.70661L11.6971 2.27842L13.1423 3.85978L11.5426 5.30484L10.0974 3.70661ZM12.9529 10.2528L14.5521 8.82456L15.9972 10.4224L14.3974 11.8516L12.9529 10.2528ZM14.3631 13.4668L15.9629 12.0382L17.4068 13.6195L15.8076 15.0644L14.3631 13.4668ZM15.0168 6.12107L16.0831 5.16879L17.0459 6.22339L15.9799 7.17531L15.0168 6.12107ZM13.6408 2.97548L14.7071 2.00651L15.6707 3.07753L14.6036 4.02972L13.6408 2.97548ZM16.3755 9.26693L17.4417 8.31474L18.422 9.36899L17.3389 10.3209L16.3755 9.26693ZM11.5768 6.90341L13.1766 5.47513L14.6211 7.05614L13.022 8.48469L11.5768 6.90341Z' fill='%233E9CDC'/></g><defs><clipPath id='clip0_4_184'><rect width='20' height='20' fill='white' transform='translate(0.5)'/></clipPath></defs></svg>");
}
footer .payments::before, footer .payments::after {
  content: "|";
}
footer .contacts a {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (min-width: 1856px) {
  header,
footer {
    padding: 0 375px;
  }
  section {
    padding: 150px 375px;
  }
}
@media screen and (max-width: 1378px) {
  .payments, .contacts {
    gap: 20px;
  }
}
@media screen and (max-width: 1240px) {
  section.order .order__steps--icon {
    width: 80px;
    height: 80px;
  }
  section.order .order__steps--icon img {
    width: 80px;
    height: 80px;
  }
  section.order .order__steps--icon figcaption {
    font-size: 14px;
    width: 160px;
    margin-left: -40px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 80px;
  }
  section {
    padding: 110px 10vw;
  }
  section.main {
    padding-top: 160px;
  }
  section.order .order__steps--icon {
    width: 50px;
    height: 50px;
  }
  section.order .order__steps--icon img {
    width: 50px;
    height: 50px;
  }
  section.order .order__steps--icon figcaption {
    font-size: 13px;
    width: 100px;
    margin-left: -25px;
  }
  section.order .order__steps--dot {
    width: 3px;
    height: 3px;
  }
  footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px;
  }
  footer .payments::before, footer .payments::after {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  body {
    font-size: 18px;
  }
  body h1 {
    font-size: 38px;
  }
  body h2 {
    font-size: 32px;
  }
  .visible {
    display: block !important;
  }
  nav {
    display: flex;
    align-items: center;
    height: 70px;
  }
  nav .mobile-menu-overlay {
    z-index: 1337;
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    background: #3D4050;
    top: 0;
    left: 0;
    text-align: center;
  }
  nav .mobile-menu-overlay ul {
    flex-direction: column;
    color: #FFFFFF;
    padding: 70px 0 50px;
    align-items: center;
    gap: 20px;
  }
  nav .mobile-menu-overlay ul li {
    background-color: #272733;
    padding: 20px;
    width: 200px;
  }
  .hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 24px;
    height: 2px;
    border-radius: 2px;
  }
  .hamburger-wrapper {
    display: block;
    padding: 12px 0;
    z-index: 1338;
    position: relative;
  }
  .hamburger-menu {
    position: relative;
    background: white;
    transition: all 0ms 200ms;
    display: block;
  }
  .hamburger-menu.animate {
    background: black;
  }
  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    background: white;
    transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    background: white;
    transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu.animate {
    background: transparent;
  }
  section.order .order__steps {
    flex-direction: column;
    gap: 16px;
    padding: 46px 50px 0;
  }
  section.order .order__steps--icon {
    width: 100px;
    height: 100px;
  }
  section.order .order__steps--icon img {
    width: 100px;
    height: 100px;
  }
  section.order .order__steps--icon figcaption {
    font-size: 16px;
    width: 200px;
    margin-left: -50px;
  }
  section.order .order__steps--dot {
    width: 3px;
    height: 3px;
  }
  section.order .order__steps--dot.transp {
    background: transparent;
  }
}
@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
  body h1 {
    margin-bottom: 20px;
  }
  body h1, body h2 {
    font-size: 30px;
    width: 100%;
  }
  body p {
    margin: 20px 0 5px;
    line-height: 20px;
  }
  section {
    padding: 70px 10vw;
  }
  section.main {
    padding-top: 120px;
  }
  section.main ul {
    margin: 10px 0 30px;
  }
  section.main ul li {
    line-height: 20px;
  }
  form {
    flex-direction: column;
    gap: 40px;
  }
  form div {
    width: 100%;
    height: 48px;
  }
  form div.order-form__input--range {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 16px;
  }
  body h1 {
    margin-top: 30px;
  }
  body h1, body h2 {
    font-size: 28px;
    width: 100%;
  }
  header {
    height: 50px;
  }
  header .navigation__logo img {
    width: 120px;
  }
  section {
    padding: 50px 10vw;
  }
  section.main {
    max-height: 680px;
    padding-top: 70px;
  }
  input,
select,
label {
    font-size: 16px;
  }
  form div.order-form__input--range {
    margin-bottom: 0;
  }
  form div.order-form__input--range div {
    height: 24px;
  }
  form div.order-form__input--range div span {
    font-size: 10px;
  }
  label[for=file] {
    font-size: 13px;
  }
  footer .contacts {
    flex-wrap: wrap;
  }
  footer .payments {
    gap: 20px;
  }
  footer .payments div {
    gap: 4px;
  }
}

/*# sourceMappingURL=main.css.map */
